body {
  background: linear-gradient(#0c8dd3, black);
  margin: 0;
  font-family: "Arial", sans-serif;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 10;
  transition: background 0.3s ease;
}

.nav-bar.scrolled {
  background: rgba(255, 255, 255, 0.9);
}

.logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 50px;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #181640;
}

.button-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  margin-right: 50px;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background: #201e50;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
    margin-right: 50px;
    width: 50%;
    margin: 0;
  }

  .hamburger-menu {
    display: flex;
    margin-right: 50px;
  }
}
