:root {
  --primary-color: #201e50;
  --hover-color: #181640;
  --background-gradient: linear-gradient(#0c8dd3, black);
}

body {
  background: var(--background-gradient);
  margin: 0;
  font-family: "Arial", sans-serif;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 10;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-bar.scrolled {
  background: rgba(255, 255, 255, 0.9);
}

.logo {
  margin-top: -0.5em;
  display: flex;
  align-items: center;

  gap: 15px;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo p {
  margin-top: -3rem;
  margin-left: 3.5rem;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 1.2;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--hover-color);
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.hamburger-menu {
  display: none;
  align-items: center;
  font-size: 24px;
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
    width: 50%;
  }

  .hamburger-menu {
    display: flex;
    margin-right: 30px;
  }

  .logo {
    flex-direction: row;
  }

  .logo p {
    font-size: 14px;
  }
}
